<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `success-inicio`
     * inicio de sesion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessInicio extends Polymer.Element {
      static get is() { return 'success-inicio'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-inicio'
          }
        };
      }
    }

    window.customElements.define(SuccessInicio.is, SuccessInicio);
  </script>
</dom-module>
